html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000; /* Fix white gap on mobile */
}

#terminal-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  .terminal {
    padding: 5px;
    height: calc(100% - 10px);
  }
}
